<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me 😎</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 3 years of experience as a software engineer, and have worked
            in both small startups and large organizations. While I'm a proficient AI
            developer, my expertise is in building NLP systems (NLP Engine, Algorithms & Design,
            and Devops).
        </p>
        <p>
           I am a Maker!⚙️
           While there are numerous problem statements out there.
           I am attracted to Natural Language Understanding,  Imagine replicating that language Understanding logic we humans possess, into a computer program. WOW right!?
           I have also worked on multiple NLP/NLU/DL projects and the experience with it has been great. 
           And, With the open source community getting bigger every day, I would love to meet like-minded people present out there. 
           So, Let's Talk 👋

	   
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Responsible for leading a team of NLP experts to design a NLP/NLU engine.
            which will be implemented on a large scale.
    			</li>
          <li>
            Being a Public Speaker and Technical Trainer, i have trained over 2000+ students in Python and AI.
          <li>
            Mentored RVCE students at Smart India Hackathon 🇮🇳 for ACS(Acute Coronary Syndrome) detection, we won :)
    			<li>
            Invited as a Guest Speaker by multiple Institutions across the globe.
    			</li>
    			<li>
            A Mechatronics engineer 🛠️ with a passion and softcorner for AI :)
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
