<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. This is the ERA of Machine Learning, I include Deep learning with NLP so there is a lot of learning happening there.
			  </li>
			  <li>
				  <b>Autonomous Boats/Cars</b>. I've love robotics, that is one of the reasons why i got a mechatronics degree.
          i have built an Autonomous Robo Boat for the AUVSI Competition.
			  </li>
			  <li>
				  <b>Riding</b>. I live in Bangalore, I enjoy spending weekend rides and my Royal Enfield!
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Casper is an open-source python library that i am currently building to make the NLP fun and intersting,
          It will take some time :)
    		</li>
  			<li>
          I am also a YouTuber and a Content Creator, Be sure to have a look at my channel.
  			</li>
  		    </ul>
  		    <h3>Other Stuff's</h3>
  		    <ul>
  			<li>
           I play Guitar occasionally, Afterall music is ❤️.
  			</li>
  			<li>
  			  Sub 40 Rubik Cube solver..
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
